# General
.vscode
__pycache__/

# Stanford CS106X
computer-science/Stanford-CS106X-Programming-Abstractions-in-CPP-2019-Fall/**/build-**
computer-science/Stanford-CS106X-Programming-Abstractions-in-CPP-2019-Fall/**/*.pro.user

# Stanford CS106L
computer-science/Stanford-CS106L-Standard-CPP-Programming-2020-Winter/**/build-**
computer-science/Stanford-CS106L-Standard-CPP-Programming-2020-Winter/cpp_test*

# Stanford CS231n
computer-science/Stanford-CS231n-Deep-Learning-for-Computer-Vision-2024-Spring/assignment1/cs231n/datasets