# git ignore for Stanford CS106X: Programming Abstractions in C++ 2019 Fall
computer-science/Stanford-CS106X-Programming-Abstractions-in-C++-2019-Fall/CS106/CS106.pro.user
computer-science/Stanford-CS106X-Programming-Abstractions-in-C++-2019-Fall/.*
computer-science/Stanford-CS106X-Programming-Abstractions-in-C++-2019-Fall/CodeStepByStep/*/*.exe
computer-science/Stanford-CS106X-Programming-Abstractions-in-C++-2019-Fall/CodeStepByStep/.*

